<div>
  <h1 class="ui header">Administrator Page</h1>
  <div>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/manage/users">Manage Users</a>
      <a mat-list-item routerLink="/admin/manage/groups/HR Admins">Manage Group: HR Admins</a>
      <a mat-list-item routerLink="/admin/manage/groups/Sales">Manage Group: Sales</a>
      <a mat-list-item routerLink="/admin/manage/groups/High-Risk Apps">Manage Group: High-Risk Apps (i.e. Payroll Systems)</a>
    </mat-nav-list>
  </div>
</div>

