mat-table {
  width: 100%;
}

.table-column-width-4 {
  display:flex;
  flex:0 0 4%;
}


.table-column-width-10 {
  display:flex;
  flex:0 0 10%;
}

.table-column-width-12 {
  display:flex;
  flex:0 0 12%;
}

.table-column-width-15 {
  display:flex;
  flex:0 0 15%;
}


.table-column-width-28 {
  display:flex;
  flex:0 0 28%;
}

.example-spacer {
  flex: 1 1 auto;
}